* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {

  padding: 20px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.navbar-items img {
  width: 50px;
}

.navbar-items ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-items ul li {
  text-transform: uppercase;
  font-weight: 600;
}